:root {
    --pointColor: #FAAB23;
}

* {
    // outline: 1px solid tomato;
}

.FindId {
    padding: 100px 0;

    >h2 {
        font-size: 32px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 50px;
    }

    >form {
        margin: 0 auto;
        width: 30%;

        .inputBox {
            position: relative;
            margin: 10px 0;

            label {
                margin-right: 15px;
            }

            .message {
                display: inline-block;
                font-size: 13px;

                &::before {
                    content: "\ea2d";
                    font-family: 'xeicon';
                    margin-right: 5px;
                    color: var(--pointColor);
                }
            }

            input {
                background: transparent;
                border: none;
                border-bottom: solid 1px #ccc;
                padding: 20px 0px 5px 0px;
                font-size: 14px;
                width: 100%;
                margin-bottom: 15px;
            }

            .postCodeBox {
                width: 100%;
                display: flex;
                gap: 15px;

                #daumPostCode {
                    width: calc(100% - 120px);
                }

                .addBtn {
                    width: 100px;
                    padding: 5px 10px;
                    border: 2px solid var(--pointColor);
                    border-radius: 10px;
                    font-size: 14px;
                    background-color: #fff;
                    margin: 15px auto;
                }
            }
        }

        input[type=submit] {
            background-color: var(--pointColor);
            border: none;
            color: rgb(255, 255, 255);
            border-radius: 5px;
            width: 100%;
            height: 35px;
            font-size: 14px;
            margin-top: 100px;
            cursor: pointer;
        }
    }
}