.Header {
    .banner {
        background-color: #faab23;
        line-height: 40px;
        display: flex;

        strong {
            font-size: 13px;
            color: #ffffff;
            margin: 0 auto;
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        line-height: 80px;

        .logo {
            font-family: 'Nanum Myeongjo', serif;
            font-size: 23px;
            font-weight: 400;
        }

        .gnb {
            ul {
                display: flex;
                font-size: 15px;
                gap: 60px;

                li.on {
                    color: #c58b40;
                }
            }
        }
    }
}