@use 'main';

* {
    // outline: 1px solid tomato;
}

.Header {
    .banner {
        background-color: main.$mainColor;
        line-height: 30px;
        display: flex;

        strong {
            font-size: 14px;
            color: #ffffff;
            margin: 0 auto;
        }
    }

    .menu {

        // display: flex;
        // justify-content: space-between;
        // line-height: 80px;
        .top {
            padding-top: 25px;
            display: flex;
        justify-content: space-between;
            .logo {
                font-family: 'Nanum Myeongjo', serif;
                font-size: 23px;
                font-weight: 400;
                text-align: center;
            }
        }

        .gnb {
            display: inline-block;
            padding: 20px 0;
            // margin: 20px auto;
            ul {
                display: flex;
                font-size: 14px;
                gap: 70px;

                li.on {
                    color: main.$subColor;
                }
            }
        }
    }
}