@use 'main';

* {
    // outline: 1px solid tomato;
}

.Header {
    border-bottom: 1px solid main.$wgColor;
    .top {
        border-bottom: 1px solid main.$wgColor;
        font-size: 14px;

        >div {
            display: flex;
            justify-content: space-between;
            padding: 8px 0;

            .sns {
                display: flex;
                gap: 10px;
                font-size: 15px;

                a:hover {
                    i {
                        color: main.$subColor;
                    }
                }
            }

            .user {
                display: flex;
                justify-content: right;
                gap: 15px;
                font-size: 12px;

                >p {}

                >button {
                    border: none;
                    border-radius: 3px;
                }
            }
        }
    }

    .menu {
        padding-top: 15px;

        .logo {
            font-family: 'Nanum Myeongjo', serif;
            font-size: 27px;
            font-weight: 400;
            text-align: center;
            margin: 10px 0;
        }

        .gnb {
            display: flex;

            ul {
                display: flex;
                gap: 80px;
                padding: 15px 0;
                margin: 0 auto;

                li {
                    font-size: 14px;
                    // font-weight: 300;
                }
            }
        }
    }
}