$mainColor : #FAAB23;
$subColor : #c58b40;

* {
    // outline: 1px solid tomato;
}

.sectionPadding {
    padding: 100px 0;
}

.inner {
    width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
}

.secTitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.secDesc {
    font-size: 15px;
    color: #2f2f2f;
    text-align: center;
    margin-bottom: 40px;
}

.subheading {
    font-family: Nanum Myeongjo, serif;
}

.mainVisual {
    .mainSlider {
        li {
            padding: 200px;
            background: url("../../public/assets/img/image_1595912733936_1000.jpg") no-repeat center center/cover;

            .desc {
                color: white;

                h2 {
                    font-size: 45px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 20px;
                    margin-bottom: 35px;
                    white-space: pre-wrap;
                }
            }
        }
    }
}

.newBook {
    >div {
        .newBookSlider {
            display: flex;
            gap: 50px;

            .product {
                figure {
                    margin-bottom: 20px;
                    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
                }

                h3 {
                    font-size: 17px;
                    font-weight: 500;
                    text-align: center;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}

.Video {
    background-color: #f8f8f8;

    >div {

        .movie {
            width: 700px;
            height: 455px;
            margin: 0 auto 60px auto;


            .movieBox {
                position: absolute;
                width: 700px;
                height: 455px;
                z-index: 999;
            }

        }

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 700px;
            height: 455px;
            transform: translate(-10px, -10px);
            border: 1px solid $subColor;
        }

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 700px;
            height: 455px;
            transform: translate(10px, 10px);
            border: 1px solid $mainColor;
        }

        .contents {
            >h3 {
                font-size: 27px;
                font-family: Nanum Myeongjo, serif;
                text-align: center;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                text-align: center;
            }
        }
    }
}

.About {

    >div {
        display: flex;
        gap: 50px;

        div {
            figure {
                margin-bottom: 20px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

            }
        }
    }
}

.Books {}

.Myteria {}

.News {}

.Contact {
    display: flex;
    gap: 30px;
    padding: 100px 0;

    .textBox {
        // display: flex;
        flex: 1;
        // flex-direction: column;
        // justify-content: space-between;
        padding: 30px 0;

        h2 {
            font-family: Nanum Myeongjo, serif;
            font-size: 36px;
            font-weight: 600;
        }
    }

    .imgBox {
        flex: 1;
        display: inline-block;
    }
}